aiobotocore[boto3]
langgraph==0.3.31
langgraph-checkpoint~=2.0.24
langgraph-checkpoint-amazon-dynamodb==0.1.1
langgraph-prebuilt~=0.1.8
fastapi>=0.109.1
uvicorn>=0.23.2
pydantic>=2.4.2
pydantic-settings>=2.0.3
langchain>=0.2.0
langchain-aws>=0.2.18
langchain_tavily
python-dotenv>=1.0.0